{% extends "admin_page/base.html" %}
{% load static %}
{% block contents %}
<main class="app-content">
    <div class="app-title">
      <div>
        <h1><i class="fa fa-dashboard"></i> Dashboard</h1>
        
      </div>
      <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <a class="block text-center" href="">
        <div class="widget-small primary coloured-icon"><i class="icon fa fa-star fa-3x"></i>
          <div class="info">
            <h4>Total Car</h4>
            <p><b>{{cardata}}</b></p>
          </div>
        </div>
      </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a class="block text-center" href="">
        <div class="widget-small info coloured-icon"><i class="icon fa fa-users fa-3x"></i>
          <div class="info">
            <h4>Total User</h4>
            <p><b>{{subdata}}</b></p>
          </div>
        </div>
      </a>
      </div>
      
      <div class="col-md-6 col-lg-4">
        <a class="block text-center" href="">
        <div class="widget-small danger coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i>
          <div class="info">
            <h4>Total Booking</h4>
            <p><b>{{bookingdata}}</b></p>
          </div>
        </div>
      </a>
      </div>

      
        
  </main>

{% endblock contents %}


